

  <div class="hero-section d-flex flex-column justify-content-center align-items-center text-center">
    <h1 class="display-4 font-weight-bold mb-3">Online Food Delivery</h1>
    <p class="lead mb-4">Fast, Fresh & Delicious</p>
    <button class="btn btn-lg btn-yellow font-weight-bold" type="button" (click)="login()" style="background-color: yellow; font-weight: bold;">Order Now</button>
  </div>

  <div class="container mt-5 text-center">
    <h2 class="mb-4 text-yellow">Manage Your Orders & Restaurants</h2>
    <div class="row justify-content-center">

      <div class="col-md-4 mb-4">
        <div class="card custom-card h-100">
          <div class="card-body">
            <h3 class="card-title">Restaurant Login</h3>
            <p class="card-text">Manage your restaurant profile and menu items.</p>
          
            <button class="btn btn-yellow m-2" type="button" (click)="restaurantlogin()"  style="background-color: yellow; font-weight: bold;">Login</button>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card custom-card h-100">
          <div class="card-body">
            <h3 class="card-title">Customer Login</h3>
            <p class="card-text">Order your favorite meals from various restaurants.</p>
            <button class="btn btn-yellow m-2" type="button" (click)="register()"  style="background-color: yellow; font-weight: bold;">Register</button>
            <button class="btn btn-yellow m-2" type="button" (click)="login()"  style="background-color: yellow; font-weight: bold;">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

