body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #6c63ff; /* Purple background */
  }
  
   flex{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .custom-card {
    background-color: rgba(108, 99, 255, 0.8); /* Purple background */
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.295);
    transition: transform 0.3s ease-in-out;
    animation: slideIn 1s ease-out forwards;
  }
  
  .custom-card:hover {
    transform: translateY(-3px);
  }
  
  .btn-yellow {
    background-color: #ffc107; /* Yellow button */
    color: #000;
    border: none;
    font-weight: bold;
  }
  
  .btn-yellow:hover {
    background-color: #ffca2c;
  }
  
  .text-white {
    color: #fff;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }